*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: 4px solid #391f5b;
}
::-webkit-scrollbar-thumb {
  background-color: #d8bfe3;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #391f5b;
}
