header {
  background: linear-gradient(0deg, #e7daed, #d8bfe3);
  border: 1px solid #5c4678;
  border-top: none;
  border-bottom: none;
}
.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  color: #391f5b;
  font-size: 16px;
  font-weight: 600;
}

.hero {
  padding-top: 128px;
  background: linear-gradient(180deg, #e7daed, #d8bfe3);
  border-top: none;
  text-align: center;
}
.firstContainer {
  max-width: 1128px;
  width: 100%;
  margin: auto;
}
h1 {
  font-size: 64px;
  font-weight: 600;
  color: #391f5b;
  margin: 0;
}

p {
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #b384c9;
}

p.heroSubtitle {
  width: 50%;
  color: #76226f;
  text-shadow: none;
  margin: 32px 256px 64px;
}

strong {
  border-bottom: 3px dotted #b384c9;
  font-weight: 700;
}

.chromButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(179, 132, 201, 0.84),
    rgba(57, 31, 91, 0.84) 50%
  );
  box-shadow:
    0 2px 2px rgba(57, 31, 91, 0.24),
    0 8px 12px rgba(179, 132, 201, 0.4);

  border-radius: 42px;
  padding: 18px 34px;
  text-decoration: none;
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.04em;
  margin-bottom: 84px;
}
.chromButton a:hover {
  text-decoration: none;
}
.chromButton:hover {
  background: linear-gradient(180deg, #b384c9, #391f5b 50%);
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 4px hsla(0, 0%, 100%, 0.4) 0 0 12px hsla(0, 0%, 100%, 0.2)
    1px 1px 4px rgba(57, 31, 91, 0.6) 4px 4px 16px rgba(57, 31, 91, 0.32);
  font-weight: 700;
}

span {
  font-weight: 500;
}
.browser img {
  width: 1096px;
}
.slide img {
  border: 4px white solid;
  position: relative;
  margin-top: -5px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

svg {
  fill: #391f5b;
}
